body {
  background-color: rgb(222,222,222);
  position: absolute;
}

header{
  height: 100px;
}

input {
  margin-right: 10px;
  box-shadow:inset 0 1px 0 0 #888;
  background: #fff;
}

ul {
  box-sizing: border-box;
    list-style-type: none;
    margin-top: 10px;
    overflow: hidden;
    height: inherit;
    padding-top: 5px;
}

main{
  position: relative;
  box-sizing: border-box;
  margin: 10px;
  text-align: center;

}

aside {
  position: relative;
  box-sizing: border-box;
  width:33%;
  float: left;
  top:0;
  padding: 20px;
  padding-right: 50px;
  text-align: left;
}

footer {
  position: absolute;
  bottom: 0;
  padding-top: 10px;
  height: 50px;
  font-size: small;
  margin: 10px;
  margin-top: 20px;
  max-width: 50%;
  letter-spacing: 50%;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.logo-box {
  background-color: rgb(212,212,212);
  color:grey;
  position: absolute;
  left: 20px;
  width: 175px;
  padding-left: 20px;
  padding-top: 1px;
  padding-bottom: 5px;
  line-height: 80%;
  margin-top: 20px;
}

.logo-box-subtext {
  font-size: small;
  letter-spacing: 2px;
}

.site-search {
  position: absolute;
  float: right;
  right:20px;
  top: 45px;
}

.button {
  border: black 1px solid;
  border-radius: 10px;
  background-color: white;
}

.header-links {
  position: relative;
  float: right;
  padding-right: 10px;
  padding-left: 20px;
  margin-top: 20px;
  text-decoration: none;
  color: blue;
}

.main-navigation {
  background-color: rgb(233,233,233);
  height: 30px;
  margin: 10px;
}

.main-navigation  li {
    display: inline;
    border-right: solid rgb(212,212,212) 1px;
    padding: 15px 10px 10px;
}

.nav-tabs {
  padding-left: -10px;
}

.slideshow {
  position: relative;
  min-width: 66%;
  background-color: rgb(212,212,212);
  float: left;
  height: 350px;
}

.three-sections {
  box-sizing: border-box;
  clear: both;
  margin: 10px;
}

.newsletter, .from-the-blog, .sign-up{
  margin: 70px 0;
  min-height: 600px;
  box-sizing: border-box;
  width: 33%;
  padding: 15px;
  border-right: solid 1px rgb(212,212,212);
  border-top: solid 1px rgb(212,212,212);
  float: left;
  border-bottom: solid rgb(212,212,212) 1px;
}

.newsletter h4{
  display: inline;
}

.newsletter-img {
  width : 100%;
  height: 200px;
  margin: auto;
}

.newsletter span{
  float:right;
}

.from-the-blog h5{
  font-size: large;

}

.blog-post-title span{
    font-weight: bold;
    padding-top: 1px;
    padding-bottom: 5px;
}

.blog-img{
 position: relative;
  width : 70px;
  height: 70px;
  margin-right: 10px;
  float: left;
}

.from-the-blog-link {
  float:right;
}

.lower {
  border-top: solid 1px rgb(212,212,212);
}

.blog-content {
  z-index: 1;
}

.blog-text{
  z-index: 2;
}

.sign-up-form{
  max-width: 180px;
  float: left;
  display: block;
}

.sign-up-input {
  margin: 5px 0;
  box-shadow:inset 0 1px 0 0 #888;
  background: #fff;
}

.sign-up-button {
  margin: 10px 0;
}
