body {
  background-color: rgb(222,222,222);
}

.header {
  position: relative;
  height: 100px;
}

.logo-box {
  background-color: rgb(215,215,215);
  color:grey;
  position: absolute;
  left: 20px;
  width: 175px;
  padding-left: 20px;
  padding-top: 1px;
  padding-bottom: 5px;
  line-height: 80%;
  margin-top: 20px;
}
.logo-box-subtext {
  font-size: small;
  letter-spacing: 2px;
}
.site-search {
  position: absolute;
  float: right;
  right:20px;
  top: 45px;
}
input {
  margin-right: 10px;
}
.button {
  border: black 1px solid;
  border-radius: 10px;
  background-color: white;
}
.header-links {
  position: relative;
  float: right;
  padding-right: 10px;
  padding-left: 20px;
  margin-top: 20px;
  text-decoration: none;
  color: blue;
}

.main-navigation {
  background-color: rgb(233,233,233);
  height: 30px;
  margin: 10px;
}
ul {
  box-sizing: border-box;
    list-style-type: none;
    margin-top: 10px;
    overflow: hidden;
    height: inherit;
    width: 500px;
    padding-top: 5px;
}
.main-navigation  li {
    display: inline;
    border-right: solid rgb(215,215,215) 1px;
    padding: 15px 10px 10px;
}
main{
  position: relative;
  box-sizing: border-box;
  margin: 10px;
  text-align: center;
}

main p {
  padding: 100px;
}

.slideshow {
  position: relative;
  min-width: 60%;
  background-color: rgb(215,215,215);
  float: left;
}

aside {
  position: relative;
  box-sizing: border-box;
  width:40%;
  float: left;
  top:0;
  padding: 20px;
  padding-right: 50px;
  text-align: left;
}

.three-sections {
  box-sizing: border-box;
  clear: both;
}
.newsletter, .from-the-blog, .sign-up{
  
  margin-top: 10px;
  box-sizing: border-box;
  width: 33%;
  float: left;
  padding: 15px;
  border-right: solid 1px rgb(215,215,215);
  border-top: solid 1px rgb(215,215,215);

}

.newsletter h4{
  display: inline;
}

.sign-up-form{
  display: inline-block;
}

footer {
  font-size: small;
  margin: 10px;
  max-width: 50%;
  letter-spacing: 50%;
}
